.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;

    &__searchBar{
        width: 30%;
        @media screen and (max-width: 700px){
            width: 80%;
            height: auto;
        }
        height: 2.3em;
    } 
    &__button {
        background-color: $primary !important;
        margin-left: 1em !important;
    }
}

.iconSearch {
    color: $primary !important;
}