.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9F9F9;
    border: 1px solid #000000;
    box-shadow: 24;
    padding: 0;
    display: flex;
    width: 60%;

    @media screen and (max-width: 700px) {
        width: 90%;
    }

    max-width: 100vw;
    max-height: 100%;
    overflow-y: auto;
    flex-direction: column;

    &__header {
        background-color: white;
        padding: 1em;
        text-align: center !important;
        color: $font-dark;
        &__text {
            font-weight: bold !important;
        }
    }

    &__form {
        align-self: center;
        padding: 1em;
        width: 80%;

        &__formControl {
            width: 100%;
            margin-top: 1em !important;
        }
    }

    &__buttonBox {
        margin-top: 1em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &__button {
            background-color: $primary !important;
            width: 50%;
        }
    }
}