//beetrack primary color
$primary: #FAB43E;

// background colors
$background-grey-light: #E5E5E5;

//fonts colors
$font-light: #BDBEC0;
$font-dark: #727272;
$font-grey-light: #9A9A9A;

// border color
$border: #E0E0E0;

